/*ExecutiveSymmetry Theme*/

 .executivesymmetry div.es-see-more {
	 padding-top:3px;
	 padding-right: 25px;
	 padding-left: 10px;
	 padding-bottom:0px;
 }
.executivesymmetry div.es-see-more a{
  	padding: 0px;
  	margin:0px;
  }

