/* BUTTONS
 ================================================== */

p.caption-button.white {
	padding-top: 20px;
	padding-bottom: 13px;
}

p.caption-button.white a {
	text-decoration: none;
	font-size: 13px;
}

p.caption-button.white a span {	
	padding: 5px 10px;
	border-width: 2px;
	border-style: solid;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	color: #fff;
	border-color: #fff;
}

p.caption-button.white a:hover span {	
	color: #000;
	border-color: #fff;
	background-color: #fff;
}