/* CAPTIONS
 ================================================== */

.minimalist .orbit-caption {
	display: none;
	font-family: "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

.orbit-wrapper.minimalist .orbit-caption {
	
	background: url(../css/bg-transparent.png) repeat;
	z-index: 1000;
	color: #fff;
	text-align: center;
	padding: 7px 0;
	font-size: 13px;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	text-align:justify;
}

/* DIRECTIONAL div
 ================================================== */

.minimalist NAV.slider-nav {
	display: block
}

.minimalist div.slider-nav span {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;   
	width: 60px;
	height: 60px;
	position: absolute;
	z-index: 1000;
	margin-top: -30px;
	cursor: pointer;	
  	font-size: 60px;
  	font-weight: bold;
  	line-height: 43px;
 	color: #FFF;
  	text-align:center;
  	opacity: 0.9;
  	filter: alpha(opacity=50);
	
}

.minimalist div.small span{
    top: 40%;
	width: 40px;
	height: 40px;
	font-size: 60px;
  	font-weight: 100;
  	line-height: 30px;
  	margin-top: -20px;
}

.minimalist div.slider-nav span:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}


.minimalist div.slider-nav span.right {
    margin-right:5px;
/*	background: url(orbit/right_button.png);*/
	right: 0;
	
}

.minimalist div.slider-nav span.left {
    margin-left:5px;
/*	background: url(orbit/left_button.png);*/
	left: 10;
}

/* BULLET NAV
 ================================================== */

.pjc-slideshow-container .minimalist .orbit-bullets-wrapper{
    position:absolute;
    width:100%;
    height:10px;
    margin-top:-30px;
    text-align:center;
}

.pjc-slideshow-container .minimalist .orbit-bullets-wrapper ul.orbit-bullets {
    
	position: relative;
	z-index: 1000;
	list-style: none;
	bottom: -5px;
	display: inline-block;
	margin: 0px;
	padding:0px;
	height:10px;
	
}

.pjc-slideshow-container .orbit-wrapper.minimalist ul.orbit-bullets li.pjc-slideshow-navbullets {
	text-indent:9999999px;
	float: left;
	margin: auto 5px;
	cursor: pointer;
	color: #999;
	width: 10px;
	height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	padding:0px;
	font-size: 1em;
	background-color:#333;
	color:#ffffff;
	background-image: none;
}

.pjc-slideshow-container .orbit-wrapper.minimalist ul.orbit-bullets li.pjc-slideshow-navbullets:hover {
	background-color:#FFF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	border-radius: 6px;
	width: 12px;
	height: 12px;
	margin:auto 4px;
	margin-top:-1px;
}


.pjc-slideshow-container .orbit-wrapper.minimalist ul.orbit-bullets li.active {
	color: #ffffff;
	background-color:#FFF;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	border-radius: 6px;
	width: 12px;
	height: 12px;
	margin:auto 4px;
	margin-top:-1px;
}

.pjc-slideshow-container .orbit-wrapper.minimalist ul.orbit-bullets  li.has-thumb {
	background: none;
	width: 100px;
	height: 75px;
}

.pjc-slideshow-container .orbit-wrapper.minimalist ul.orbit-bullets  li.active.has-thumb {
	background-position: 0 0;
	border-top: 2px solid #000;
}