/* CAPTIONS
 ================================================== */

.frs-slideshow-container .minimalist .frs-caption {
	display: none;
	font-family: 'Open Sans','Helvetica','Arial','sans-serif';
}

.frs-wrapper.minimalist .frs-caption div.frs-caption-outer div.frs-caption-inner h4 {	
	margin-top: 0px;
	margin-bottom: 10px !important;
	line-height: 25px;
}

.frs-wrapper.minimalist .frs-caption div.frs-caption-outer div.frs-caption-inner p {	
	margin-top: 0px;
	margin-bottom: 0px;
}

/* position: left */
.frs-wrapper.minimalist .frs-caption.left {
	color: #fff;
	padding: 0 20px 0 50px;
	font-size: 13px;
	position: absolute;
	left: 0;
	bottom: 0;
	min-width: 150px;
	width: 65%;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;	
}

/* position: right */
.frs-wrapper.minimalist .frs-caption.right {
	color: #fff;
	padding: 0 50px 0 20px;
	font-size: 13px;
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 150px;
	width: 65%;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;	
}

/* position: bottom */
.frs-wrapper.minimalist .frs-caption.bottom {
	color: #fff;
	padding: 0 30px 0 30px;
	font-size: 13px;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	min-height: 100px !important;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;	
}

/* position: center */
.frs-wrapper.minimalist .frs-caption.center {
	color: #fff;
	padding: 0 50px;
	font-size: 13px;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100% !important;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;	
}


/* DIRECTIONAL div
 ================================================== */

.frs-slideshow-container .minimalist nav.slider-nav {
	display: block
}

.frs-slideshow-container .minimalist div.slider-nav span {	
	font-family: OpenSans, Helvetica, Arial, sans-serif;   
	width: 38px;
	height: 38px;
	position: absolute;
	z-index: 1000;uj
	font-weight: bold;
	top: 45%;
	cursor: pointer;	
  	font-size: 1px;  	
  	line-height: 33px;
 	color: #ffffff;
  	text-align:center;
  	opacity: 0.9;
  	filter: alpha(opacity=90);
}

.frs-slideshow-container .minimalist div.small span{
    top: 40%;
	width: 40px;
	height: 40px;
	font-size: 60px;
  	font-weight: 100;
  	line-height: 30px;
  	margin-top: -20px;
}

.frs-slideshow-container .minimalist div.slider-nav span:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 1;
  filter: alpha(opacity=100);
}

.frs-slideshow-container .minimalist div.slider-nav span.right {
	background: url("images/arrow_right_white.png");
	right: 0px;
	
}

.frs-slideshow-container .minimalist div.slider-nav span.left {
	background: url("images/arrow_left_white.png");
	left: 0px;
}

/* BULLET NAV
 ================================================== */

.frs-slideshow-container .minimalist .frs-bullets-wrapper{
    position:absolute;
    width:100%;
    height:13px;
    text-align: center;   
}

.frs-slideshow-container .minimalist .frs-bullets-wrapper ul.frs-bullets {
	position: relative;
	z-index: 1000;
	list-style: none;
	bottom: -10px;
	display: inline-block;
	margin: 0px;	
	padding:0px;
	height:13px;	
}

.frs-slideshow-container .frs-wrapper.minimalist ul.frs-bullets li.frs-slideshow-nav-bullets {
	float: left;
	margin-left: 10px;
	cursor: pointer;
	color: #999;		
	width: 14px;
	height: 14px;
	overflow: hidden;
	padding:0px;
	
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	background-color: #000;
}

.frs-slideshow-container .frs-wrapper.minimalist ul.frs-bullets li.active {
	color: #222;
	background-color: #888;
	margin-left:auto;
	margin-right:auto;
	margin-left: 10px;
}

.frs-slideshow-container .frs-wrapper.minimalist ul.frs-bullets  li.has-thumb {
	background: none;
	width: 100px;
	height: 75px;
}

.frs-slideshow-container .frs-wrapper.minimalist ul.frs-bullets  li.active.has-thumb {
	background-position: 0 0;
	border-top: 2px solid #000;
}